<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Indica che l'app utilizza il BLE -->
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />

    <!-- Permessi generali per il Bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Permessi per Android 12+ -->
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
         />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <!-- Permesso per Android < 12 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Permesso per l'utilizzo del microfono -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon= "@drawable/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EcoEye"
        tools:targetApi="31">
        <activity
            android:name="com.ecoeye.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.EcoEye">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>